In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import sklearn
df=pd.read_csv(r'C:\Users\ATHUL AKSHAY\Desktop\Insurance\insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
df.shape

(1338, 7)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
pd.set_option('display.max_columns',None)

In [5]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
df.drop('region',axis=1,inplace=True)
df.head(5)

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [7]:
df.shape

(1338, 6)

In [8]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [9]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [10]:
df

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 62.8+ KB

In [12]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [13]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['sex']=label_encoder.fit_transform(df['sex'])
df['smoker']=label_encoder.fit_transform(df['smoker'])

In [14]:
df

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [15]:
df['smoker'].unique()

array([1, 0])

In [16]:
df['sex'].unique()

array([0, 1])

In [17]:
df.dtypes

age           int64
sex           int32
bmi         float64
children      int64
smoker        int32
charges     float64
dtype: object

In [18]:
df

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [19]:
df.charges.describe()

count     1338.000000
mean     13270.422265
std      12110.011237
min       1121.873900
25%       4740.287150
50%       9382.033000
75%      16639.912515
max      63770.428010
Name: charges, dtype: float64

In [20]:
df.to_csv('insurance cleaned dataset.csv')

In [21]:
df

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [22]:
X=df.drop(['charges'],axis=1)
y=df['charges']

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [24]:
pip install scikit_learn

Requirement already satisfied: scikit_learn in c:\users\athul akshay\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\athul akshay\anaconda3\lib\site-packages (from scikit_learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\athul akshay\anaconda3\lib\site-packages (from scikit_learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\athul akshay\anaconda3\lib\site-packages (from scikit_learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\athul akshay\anaconda3\lib\site-packages (from scikit_learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [26]:
X.shape

(1338, 5)

In [27]:
print(X_train.shape)

(1070, 5)

In [28]:
print(X_test.shape)

(268, 5)

In [29]:
ra=RandomForestRegressor()
ra.fit(X_train,y_train)
y_pred_randomforestregressor=ra.predict(X_test)
y_pred_randomforestregressor
# r2_score(y_test,y_pred_randomforestregressor)

array([11165.3976837 , 10316.6005492 , 44420.9107633 , 12908.770416  ,
        9553.8517711 , 10603.6481512 ,  2150.42525765, 11316.7309244 ,
        7309.072844  ,  5109.5369425 ,  7567.1245891 , 15017.7378298 ,
       10289.1318408 ,  6196.9395797 , 23945.6102164 , 12719.3567104 ,
       13224.6716871 ,  5939.6228714 ,  6365.5165965 , 33930.0771424 ,
       24002.921582  , 13110.2002804 , 11385.8381098 , 27306.920207  ,
        3644.2986913 ,  5347.212066  ,  6533.1847542 ,  8138.5662262 ,
        3736.680824  ,  9241.801326  ,  7758.0808076 , 48223.0892893 ,
       13561.2718785 , 11073.1565646 , 15756.2116893 ,  3845.4109137 ,
        8959.4156527 , 37729.6137293 , 39597.810497  ,  3854.9417994 ,
        9624.4620415 ,  3697.1098224 , 20640.7561805 , 46706.948043  ,
       36908.9931567 ,  4241.4369043 , 12762.2617784 ,  6607.221438  ,
        5013.041047  , 12534.7687246 ,  3323.367839  , 10922.917051  ,
       26083.7585997 , 49452.8108476 , 11833.09887   ,  6784.9144183 ,
        3287.2226105 , 10226.6049428 ,  9523.5773025 , 16043.5887026 ,
        1600.598564  , 47341.42295   , 15147.4537171 , 16986.5825674 ,
       12281.521981  ,  9817.8589205 , 34092.3038045 , 39568.4954116 ,
        4971.1459956 , 11339.8861819 , 18560.0123927 , 12628.6707515 ,
       18337.7735641 , 13860.264352  , 13366.84614   , 15611.7074414 ,
        8151.5136311 , 15507.4906142 , 19732.0292202 , 47548.5825075 ,
       11571.755758  , 48943.3994896 ,  3011.7379464 , 10035.4045193 ,
       40759.5732566 , 19643.1068187 ,  4345.2621588 ,  3028.6378737 ,
       14917.445417  , 38910.8090438 ,  6139.3167659 , 13784.4904204 ,
        2954.75743   ,  9770.3642062 ,  5648.9354281 ,  4487.3728631 ,
       43447.1909489 , 51614.5057243 ,  5580.8355802 , 10841.937853  ,
        2758.7103213 ,  6216.3532242 ,  8827.9908431 , 38975.853893  ,
       28184.5231622 ,  3997.1618748 , 11271.3102645 ,  5309.0582378 ,
       11613.3331705 , 45193.8769025 , 12112.3878055 ,  6134.4307577 ,
        9824.0681183 , 34376.6211698 , 47429.4279908 ,  7185.8426645 ,
        2422.6317032 , 11565.0379728 , 21378.0142271 ,  9231.5075952 ,
       42096.8641366 , 12972.9882396 , 14561.336575  ,  6971.4785765 ,
       10041.2335879 ,  5852.5780778 , 26814.9708194 , 26475.1396458 ,
       47986.3658008 ,  1554.464116  , 17203.7559164 ,  2900.7447416 ,
        6221.5747866 ,  9130.4830893 , 40809.9013524 , 38816.4411529 ,
       25401.9137595 , 13887.1389687 , 23914.137074  ,  7917.0970203 ,
        2023.138432  , 11908.9476645 , 11699.1388372 , 11485.5808135 ,
        6002.5153019 , 14194.565174  , 22561.4587326 , 11834.1764505 ,
        1598.9963615 , 11965.9199124 ,  6250.4255879 , 39663.0381922 ,
        9736.8315038 ,  6728.58231907,  4120.7564655 ,  8601.916007  ,
        3326.7431497 ,  6212.57076137, 12719.3567104 , 10510.7391972 ,
        8408.382648  , 13232.5852955 , 13448.8581102 ,  9206.496745  ,
        4745.918825  ,  9613.1506981 , 15453.0696374 ,  8282.7920097 ,
        4849.4474645 ,  2076.403617  ,  8492.8832269 ,  7267.0478559 ,
       12308.9436204 ,  2155.520441  , 12449.9834446 , 10603.6047797 ,
        4954.7851318 ,  7028.2521743 , 28282.2324525 ,  1781.1965754 ,
       17229.4983517 ,  6487.9222265 , 11574.8995427 ,  7674.8781562 ,
        8166.1548641 , 28361.5166369 ,  2814.2217491 ,  2869.2675773 ,
       14104.547714  , 11614.2929991 , 41610.0346615 ,  7183.3586703 ,
        5411.1425955 , 25134.3123793 ,  2642.0035205 ,  2931.7550225 ,
        9114.7201365 ,  6445.6025333 ,  7978.2983692 ,  4312.933296  ,
       11750.8409734 , 47215.2874137 , 14667.2620566 , 19380.1824327 ,
        6905.669279  , 43368.7706294 ,  4794.4091037 ,  9991.5809026 ,
        7501.1243054 ,  2014.114858  ,  9391.8457724 , 13636.387642  ,
        5827.6188063 ,  4102.105354  ,  6478.9099485 , 12376.3770278 ,
        7029.8500197 ,  6500.3839745 , 13949.434859  ,  6709.9088095 ,
       12156.0370129 ,  8045.5290108 , 11233.3963402 ,  5629.1093118 ,
       15623.3331143 , 14368.403667  , 22984.0271184 , 12454.3294719 ,
        7385.583439  ,  2776.0971915 ,  7583.79649642,  8213.8324195 ,
       15230.1241948 ,  7845.2022491 ,  4945.090929  ,  7327.2465223 ,
       13472.1402466 , 34265.793648  ,  5759.5538375 , 12811.7216859 ,
        5960.817449  , 36934.523777  ,  8413.6089838 ,  7090.6788347 ,
       12613.7125975 , 15185.3554732 ,  4620.1851231 ,  8008.3989303 ,
        3530.6049974 ,  6781.1952342 , 19618.6211623 , 46695.394187  ,
        5140.9826794 ,  5253.5032411 ,  4957.5745067 ,  1541.606517  ,
        7899.0639917 ,  2388.69224067,  7715.3711299 ,  7409.5377827 ,
        8840.1539489 , 24268.899313  , 45891.862958  , 17620.5559968 ,
        6478.8676925 , 11160.5535925 , 43687.122071  , 10309.5053558 ])

In [30]:
ra.score(X_train,y_train)

0.9728966728291307

In [31]:
ra.score(X_test,y_test)

0.8773833813261536

In [32]:
# de=DecisionTreeRegressor()
# de.fit(X_train,y_train)
# y_pred_decisiontree=de.predict(X_test)
# r2_score(y_test,y_pred_decisiontree)

In [33]:

# lr=LinearRegression()
# lr.fit(X_train,y_train)
# y_pred_lr=lr.predict(X_test)
# r2_score(y_test,y_pred_lr)

In [34]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,explained_variance_score
from math import sqrt

In [35]:
e=explained_variance_score(y_test,y_pred_randomforestregressor)
e

0.8796544553716557

In [36]:
a=mean_absolute_error(y_test,y_pred_randomforestregressor)
a

2516.279161161473

In [37]:
a1=mean_squared_error(y_test,y_pred_randomforestregressor)
a1

19511977.90963563

In [38]:
a2=sqrt(a1)
a2

4417.236456160756

In [39]:
from sklearn import metrics
metrics.r2_score(y_test,y_pred_randomforestregressor)

0.8773833813261536

In [40]:
import pickle 
ins=open('insurance.pkl','wb')
pickle.dump(ra,ins)

In [41]:
ins1=open('insurance.pkl','rb')
forest=pickle.load(ins1)

In [42]:
forest

RandomForestRegressor()

In [43]:
prediction=forest.predict(X_test)
prediction

array([11165.3976837 , 10316.6005492 , 44420.9107633 , 12908.770416  ,
        9553.8517711 , 10603.6481512 ,  2150.42525765, 11316.7309244 ,
        7309.072844  ,  5109.5369425 ,  7567.1245891 , 15017.7378298 ,
       10289.1318408 ,  6196.9395797 , 23945.6102164 , 12719.3567104 ,
       13224.6716871 ,  5939.6228714 ,  6365.5165965 , 33930.0771424 ,
       24002.921582  , 13110.2002804 , 11385.8381098 , 27306.920207  ,
        3644.2986913 ,  5347.212066  ,  6533.1847542 ,  8138.5662262 ,
        3736.680824  ,  9241.801326  ,  7758.0808076 , 48223.0892893 ,
       13561.2718785 , 11073.1565646 , 15756.2116893 ,  3845.4109137 ,
        8959.4156527 , 37729.6137293 , 39597.810497  ,  3854.9417994 ,
        9624.4620415 ,  3697.1098224 , 20640.7561805 , 46706.948043  ,
       36908.9931567 ,  4241.4369043 , 12762.2617784 ,  6607.221438  ,
        5013.041047  , 12534.7687246 ,  3323.367839  , 10922.917051  ,
       26083.7585997 , 49452.8108476 , 11833.09887   ,  6784.9144183 ,
        3287.2226105 , 10226.6049428 ,  9523.5773025 , 16043.5887026 ,
        1600.598564  , 47341.42295   , 15147.4537171 , 16986.5825674 ,
       12281.521981  ,  9817.8589205 , 34092.3038045 , 39568.4954116 ,
        4971.1459956 , 11339.8861819 , 18560.0123927 , 12628.6707515 ,
       18337.7735641 , 13860.264352  , 13366.84614   , 15611.7074414 ,
        8151.5136311 , 15507.4906142 , 19732.0292202 , 47548.5825075 ,
       11571.755758  , 48943.3994896 ,  3011.7379464 , 10035.4045193 ,
       40759.5732566 , 19643.1068187 ,  4345.2621588 ,  3028.6378737 ,
       14917.445417  , 38910.8090438 ,  6139.3167659 , 13784.4904204 ,
        2954.75743   ,  9770.3642062 ,  5648.9354281 ,  4487.3728631 ,
       43447.1909489 , 51614.5057243 ,  5580.8355802 , 10841.937853  ,
        2758.7103213 ,  6216.3532242 ,  8827.9908431 , 38975.853893  ,
       28184.5231622 ,  3997.1618748 , 11271.3102645 ,  5309.0582378 ,
       11613.3331705 , 45193.8769025 , 12112.3878055 ,  6134.4307577 ,
        9824.0681183 , 34376.6211698 , 47429.4279908 ,  7185.8426645 ,
        2422.6317032 , 11565.0379728 , 21378.0142271 ,  9231.5075952 ,
       42096.8641366 , 12972.9882396 , 14561.336575  ,  6971.4785765 ,
       10041.2335879 ,  5852.5780778 , 26814.9708194 , 26475.1396458 ,
       47986.3658008 ,  1554.464116  , 17203.7559164 ,  2900.7447416 ,
        6221.5747866 ,  9130.4830893 , 40809.9013524 , 38816.4411529 ,
       25401.9137595 , 13887.1389687 , 23914.137074  ,  7917.0970203 ,
        2023.138432  , 11908.9476645 , 11699.1388372 , 11485.5808135 ,
        6002.5153019 , 14194.565174  , 22561.4587326 , 11834.1764505 ,
        1598.9963615 , 11965.9199124 ,  6250.4255879 , 39663.0381922 ,
        9736.8315038 ,  6728.58231907,  4120.7564655 ,  8601.916007  ,
        3326.7431497 ,  6212.57076137, 12719.3567104 , 10510.7391972 ,
        8408.382648  , 13232.5852955 , 13448.8581102 ,  9206.496745  ,
        4745.918825  ,  9613.1506981 , 15453.0696374 ,  8282.7920097 ,
        4849.4474645 ,  2076.403617  ,  8492.8832269 ,  7267.0478559 ,
       12308.9436204 ,  2155.520441  , 12449.9834446 , 10603.6047797 ,
        4954.7851318 ,  7028.2521743 , 28282.2324525 ,  1781.1965754 ,
       17229.4983517 ,  6487.9222265 , 11574.8995427 ,  7674.8781562 ,
        8166.1548641 , 28361.5166369 ,  2814.2217491 ,  2869.2675773 ,
       14104.547714  , 11614.2929991 , 41610.0346615 ,  7183.3586703 ,
        5411.1425955 , 25134.3123793 ,  2642.0035205 ,  2931.7550225 ,
        9114.7201365 ,  6445.6025333 ,  7978.2983692 ,  4312.933296  ,
       11750.8409734 , 47215.2874137 , 14667.2620566 , 19380.1824327 ,
        6905.669279  , 43368.7706294 ,  4794.4091037 ,  9991.5809026 ,
        7501.1243054 ,  2014.114858  ,  9391.8457724 , 13636.387642  ,
        5827.6188063 ,  4102.105354  ,  6478.9099485 , 12376.3770278 ,
        7029.8500197 ,  6500.3839745 , 13949.434859  ,  6709.9088095 ,
       12156.0370129 ,  8045.5290108 , 11233.3963402 ,  5629.1093118 ,
       15623.3331143 , 14368.403667  , 22984.0271184 , 12454.3294719 ,
        7385.583439  ,  2776.0971915 ,  7583.79649642,  8213.8324195 ,
       15230.1241948 ,  7845.2022491 ,  4945.090929  ,  7327.2465223 ,
       13472.1402466 , 34265.793648  ,  5759.5538375 , 12811.7216859 ,
        5960.817449  , 36934.523777  ,  8413.6089838 ,  7090.6788347 ,
       12613.7125975 , 15185.3554732 ,  4620.1851231 ,  8008.3989303 ,
        3530.6049974 ,  6781.1952342 , 19618.6211623 , 46695.394187  ,
        5140.9826794 ,  5253.5032411 ,  4957.5745067 ,  1541.606517  ,
        7899.0639917 ,  2388.69224067,  7715.3711299 ,  7409.5377827 ,
        8840.1539489 , 24268.899313  , 45891.862958  , 17620.5559968 ,
        6478.8676925 , 11160.5535925 , 43687.122071  , 10309.5053558 ])